<button class="btnMenu flexRow" onclick="redirectAjoutCarte()">
    <img src="public/assets/plus.svg" class="iconBtnMenu" alt="">
    Ajouter une carte</button>
<button class="btnMenu flexRow" onclick="redirectRechercheCarte()">
    <img src="public/assets/loupe.jpg" class="iconBtnMenu" alt="">
    Rechercher une carte</button>
<button class="btnMenu flexRow" onclick="redirectMesCartes()">
    <img src="public/assets/carte.jpg" class="iconBtnMenu" alt="">
    Mes cartes</button>
<div class="ligne"></div>
<button class="btnMenu flexRow" onclick="sendLogOut()">
    <img src="public/assets/power.svg" class="iconBtnMenu" alt="">
    Se déconnecter
</button>