<div id="divContentNav">
    <div id="divFond" onclick="menuCompteClose()"></div>
    <div id="divMenu" class="flexColumn">
    </div>
    <div class="divCoteNav flexRow" id="divCoteNavG">
        <button type="button" id="btnMenu" onclick="menuCompteOpen()">
            <div class="imgMenu flexColumn">
                <div class="ligne ligneOrange"></div>
                <div class="ligne ligneOrange"></div>
                <div class="ligne ligneOrange"></div>
            </div>
        </button>
    </div>
    <h1 class="titre" onclick="redirectMySpace()">VisitCard</h1>
    <div class="divCoteNav flexRow" id="divCoteNavD"></div>

</div>